In [1]:
import seaborn as sb
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
import pandas as pd

In [3]:
df = pd.read_csv('submissions_data_train.csv')
df.head()

   step_id   timestamp submission_status  user_id
0    31971  1434349275           correct    15853
1    31972  1434348300           correct    15853
2    31972  1478852149             wrong    15853
3    31972  1478852164           correct    15853
4    31976  1434348123             wrong    15853

In [4]:
df['label'] = 1
df.head()

   step_id   timestamp submission_status  user_id  label
0    31971  1434349275           correct    15853      1
1    31972  1434348300           correct    15853      1
2    31972  1478852149             wrong    15853      1
3    31972  1478852164           correct    15853      1
4    31976  1434348123             wrong    15853      1

In [8]:
df.groupby('step_id').sum().sort_values('label', ascending=False)

              timestamp    user_id  label
step_id
31978    32854882526175  283477978  22178
32031    27022987800770  239926683  18221
32202    25111426607798  227965550  16950
31972    22803573202760  204087695  15394
32075    21566045878127  193886734  14534
31977    19592913979448  177310628  13257
31971    19488733165088  172997709  13150
32206    19051976911205  171853431  12887
32812    18954119526960  171199125  12800
32174    18646670965004  164511965  12586
31976    18540447406372  167777854  12517
32173    18453001823424  163141131  12402
33481    18199029703425  166435624  12307
32198    17351283521150  152900188  11701
32809    16201755654359  145673025  10942
32219    15907811665476  142951616  10755
32244    15458570757254  139504596  10459
31981    15165762656339  136495103  10222
31979    14490252014850  131617463   9769
32929    13633003932868  122471671   9222
33713    12459509363242  107920897   8441
33350    12179630309181  109578587   8232
32795    11452814203816  104214045   7773
32810    11445863269491  103723866   7746
31983    10999759363011   99801179   7427
33439    10934525483126   96990099   7395
33025    10839155232601   95427301   7325
32796    10693535620540   95250853   7226
33675    10585262965536   88190329   7132
33334    10244559493517   90735518   6944
...                 ...        ...    ...
31988     6064907232267   56001845   4100
33488     5973813404742   51649685   4038
33731     5718278327701   50562899   3866
33669     5644338018329   51325508   3807
33534     5505405835599   49715737   3727
33994     5157242851037   44716155   3473
33684     5118735237878   44020776   3467
33992     5089537013503   43636846   3432
33079     5069934580008   44495501   3428
33418     5043503109708   45824198   3408
33362     4991223101559   45462568   3374
33732     4941572364418   40968704   3337
33538     4808817001420   43301143   3252
33674     4577918123541   39864569   3096
33487     4426842680335   39583959   2997
33536     4363465158773   38927102   2955
33413     4349640754299   38009325   2940
33734     4176568066711   36289600   2823
33983     4149024650538   36361855   2806
34041     4095886098286   36282239   2773
33480     4070353861375   36558105   2750
33482     3962436646351   35365599   2680
33686     3824999929216   33345398   2587
33676     3685328796392   32294855   2492
33998     3443404998057   30698888   2326
33874     3428253403501   30155447   2319
32763     3393880670306   30148362   2301
33984     3385387841472   30223622   2286
33681     3370854841024   30192638   2280
33890     3295920360157   28751792   2226

[76 rows x 3 columns]